<!DOCTYPE html>
<html>

<head>
    <title>Sentinel Scanner</title>

    <style>

    body{
        background:#020617;
        color:white;
        font-family:Consolas;
        text-align:center;
        padding-top:100px;
    }

    h1{
        font-size:50px;
        color:#38bdf8;
    }

    .btn{
        display:inline-block;
        margin-top:40px;
        padding:15px 40px;
        background:#38bdf8;
        color:black;
        text-decoration:none;
        font-weight:bold;
        border-radius:10px;
    }

    </style>

</head>

<body>

<h1>SENTINEL NETWORK SCANNER</h1>

<p>Scan your local network and generate a security report</p>

<a href="/scan" class="btn">
    EXECUTE AUDIT
</a>

</body>

</html>
